@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css2?family=Fascinate');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline');
@import url('https://fonts.googleapis.com/css2?family=Limelight');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

@import "tailwindcss";
@theme {
    --font-ibm: 'IBM Plex Mono', monospace;
    --font-jetbrains: 'JetBrains Mono', monospace;
    --font-pacifico: 'Pacifico', cursive;
    --font-archivo: 'Archivo Black', normal;
    --font-fascinate: 'Fascinate', system-ui;
    --font-fascinate-inline: 'Fascinate Inline', system-ui;
    --font-limelight: 'Limelight', sans-serif;
    --font-public-sans: 'Public Sans', sans-serif;
    --font-bricolage: 'Bricolage Grotesque', sans-serif;
    --font-grotesque: 'Darker Grotesque', sans-serif;
    --font-epilogue: 'Epilogue', sans-serif;
    --font-jakarta: 'Plus Jakarta Sans', sans-serif;
    --font-sora: 'Sora', sans-serif;
    --font-syne: 'Syne', sans-serif;

    --color-sl-bg-0: #103c48;
    --color-sl-bg-1: #184956;
    --color-sl-bg-2: #2d5b69;
    --color-sl-dim: #72898f;
    --color-sl-fg-0: #adbcbc;
    --color-sl-fg-1: #cad8d9;
    --color-sl-red: #fa5750;
    --color-sl-green: #75b938;
    --color-sl-yellow: #dbb32d;
    --color-sl-blue: #4695f7;
    --color-sl-magenta: #f275be;
    --color-sl-cyan: #41c7b9;
    --color-sl-orange: #ed8649;
    --color-sl-violet: #af88eb;
    --color-sl-br-red: #ff665c;
    --color-sl-br-green: #84c747;
    --color-sl-br-yellow: #ebc13d;
    --color-sl-br-blue: #58a3ff;
    --color-sl-br-magenta: #ff84cd;
    --color-sl-br-cyan: #53d6c7;
    --color-sl-br-orange: #fd9456;
    --color-sl-br-violet: #bd96fa;

    --color-slb-bg-0: #181818;
    --color-slb-bg-1: #252525;
    --color-slb-bg-2: #3b3b3b;
    --color-slb-dim: #777777;
    --color-slb-fg-0: #b9b9b9;
    --color-slb-fg-1: #dedede;
    --color-slb-red: #ed4a46;
    --color-slb-green: #70b433;
    --color-slb-yellow: #dbb32d;
    --color-slb-blue: #368aeb;
    --color-slb-magenta: #eb6eb7;
    --color-slb-cyan: #3fc5b7;
    --color-slb-orange: #e67f43;
    --color-slb-violet: #a580e2;
    --color-slb-br-red: #ff5e56;
    --color-slb-br-green: #83c746;
    --color-slb-br-yellow: #efc541;
    --color-slb-br-blue: #4f9cfe;
    --color-slb-br-magenta: #ff81ca;
    --color-slb-br-cyan: #56d8c9;
    --color-slb-br-orange: #fa9153;
    --color-slb-br-violet: #b891f5;

    --color-slbr-bg-0: #fbf3db;
    --color-slbr-bg-1: #ece3cc;
    --color-slbr-bg-2: #d5cdb6;
    --color-slbr-dim: #909995;
    --color-slbr-fg-0: #53676d;
    --color-slbr-fg-1: #3a4d53;
    --color-slbr-red: #d2212d;
    --color-slbr-green: #489100;
    --color-slbr-yellow: #ad8900;
    --color-slbr-blue: #0072d4;
    --color-slbr-magenta: #ca4898;
    --color-slbr-cyan: #009c8f;
    --color-slbr-orange: #c25d1e;
    --color-slbr-violet: #8762c6;
    --color-slbr-br-red: #cc1729;
    --color-slbr-br-green: #428b00;
    --color-slbr-br-yellow: #a78300;
    --color-slbr-br-blue: #006dce;
    --color-slbr-br-magenta: #c44392;
    --color-slbr-br-cyan: #00978a;
    --color-slbr-br-orange: #bc5819;
    --color-slbr-br-violet: #825dc0;

    --color-slw-bg-0: #ffffff;
    --color-slw-bg-1: #ebebeb;
    --color-slw-bg-2: #cdcdcd;
    --color-slw-dim: #878787;
    --color-slw-fg-0: #474747;
    --color-slw-fg-1: #282828;
    --color-slw-red: #d6000c;
    --color-slw-green: #1d9700;
    --color-slw-yellow: #c49700;
    --color-slw-blue: #0064e4;
    --color-slw-magenta: #dd0f9d;
    --color-slw-cyan: #00ad9c;
    --color-slw-orange: #d04a00;
    --color-slw-violet: #7f51d6;
    --color-slw-br-red: #bf0000;
    --color-slw-br-green: #008400;
    --color-slw-br-yellow: #af8500;
    --color-slw-br-blue: #0054cf;
    --color-slw-br-magenta: #c7008b;
    --color-slw-br-cyan: #009a8a;
    --color-slw-br-orange: #ba3700;
    --color-slw-br-violet: #6b40c3;

    --color-crayola-blue: #2c75ff;
    --color-full-blue: #0056f8;
    --color-icy-blue: #bbe9fd;
    --color-blazing-flame: #ff3503;
    --color-scarlet-fire: #f82600;
    --color-alabaster-grey: #e5e5e5;
    --color-tea-green: #e9fdbb;
    --color-mauve: #cfbbfd;
    --color-pink-orchid: #f0c0e8;
    --color-peach-fuzz: #fdcfbb;
    --color-tangerine-dream: #fb9b71;
    --color-coffee-bean: #281b14;
    --color-red-blush: #f19e8e;
    --color-reddish-grey: #98756f;
    --color-slate-grey: #58656d;
    --color-strawy-blue: #7bc8f6;
    --color-seafoam-green: #a7ffb5;
    --color-powder-pink: #feb2d0;
}