---
import Layout from "../layouts/layout.astro"
import RepeatedTextBG from "../components/repeated-text-bg.tsx"
---
<Layout title="About">
	<div class="flex lg:flex-row flex-col lg:divide-x lg:divide-y-0 divide-y py-2 px-4 bg-white border border-b-4">
		<h1 class="font-ibm xl:text-7xl lg:text-5xl text-5xl pr-4 py-2 font-bold">Henry Stuklis</h1>
		<p class="flex-1 lg:pl-4 py-2">Senior Software Developer ◇ Principal Data Engineer ◇ Complex Dataflows & Infrastructure ◇ Java Microservices & Spring Boot ◇ Evergreen AWS Web Apps w/ K8s & Docker ◇ ETL & ELT Pipelines w/ Kafka/NiFi & Flink ◇ Golang & C/CGo high-performance solutions ◇ Agile PSM1 & Kanban PSK1 Certified ◇ M.DataSc & B.MathSc</p>
	</div>
	<div class="flex md:flex-row flex-col my-4">
		<div class="relative xl:w-1/5 lg:w-1/4 md:w-1/3 sm:w-1/2 border border-b-4 bg-icy-blue">
			<RepeatedTextBG text="Hello" classes="w-full h-full overflow-hidden whitespace-nowrap absolute select-none opacity-10 text-black text-xl">
				<img src="headshot.png" alt="Headshot">
			</RepeatedTextBG>
		</div>
		<div class="flex-1 ml-4">

		</div>
	</div>
</Layout>