---
import Layout from "../layouts/layout.astro"
---
<Layout title="About">
	<div class="flex lg:flex-row flex-col lg:divide-x lg:divide-y-0 divide-y py-1">
		<h1 class="font-fascinate-inline lg:text-[6.5vw] md:text-[5vw] text-[4vw] pr-2">Henry Stuklis</h1>
		<p class="flex-1 font-archivo lg:text-[1.0vw] md:text[0.5vw] pl-2">Senior Software Developer ◆ Principal Data Engineer ◆ Complex Dataflows & Infrastructure ◆ Java Microservices & Spring Boot ◆ Evergreen AWS Web Apps w/ K8s & Docker ◆ ETL & ELT Pipelines w/ Kafka & NiFi ◆ Golang & C/CGo high-performance solutions ◆ Agile PSM1 & Kanban PSK1 Certified ◆ M.DataSc & B.MathSc</p>
	</div>
	<hr class="border-t-2">
	<div class="flex flex-row my-8">
		<img src="headshot.jpeg" class="max-w-xs border-4 box-border">
	</div>
</Layout>