---
import Layout from "../layouts/layout.astro"
---
<Layout title="Home" bgtext="Dev">
	<h1>Blog Posts</h1>
	<ul>
		<li><a href="/posts/1">Post 1 - 2025/11/17</a></li>
	</ul>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas finibus enim odio, ut fringilla nisl pulvinar vitae. Maecenas in aliquet lorem. Donec in odio neque. Sed porta eros at nisl iaculis eleifend. Morbi tristique, quam a pulvinar ultrices, ante felis luctus metus, eu consectetur eros lorem eget dui. Praesent accumsan gravida magna, vitae blandit nibh dignissim dignissim. Maecenas tempus consequat tincidunt. Sed nec sapien eu urna lobortis faucibus. Aenean cursus ex erat, et congue tortor egestas et.
</Layout>